* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 32px;
}

.controls {
  margin-top: 12px;
}

.content {
  margin-top: 12px;
  font-size: 24px;
}

#users-list {
}
